*{
  box-sizing: border-box;
}

html,body{
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
}


a {
  outline: none;
  color:$palette-black-primary;
  &:link{
    text-decoration: none;
    color: #00F;
  }
  &:hover{
    text-decoration: none;
    color: #00F;
  }
  &:visited{
    text-decoration: none;
    color: #00F;
  }
  &:active{
    text-decoration: none;
    color: #00F;
  }
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wrapper{
  width: 100%;
  min-width: 300px;
  background-color:$palette-white-primary;
}

.preload_image{
  width:100vw;
  height:100vh;
  position:fixed;
  background-image: url('preload-image.svg');
  background-color:$palette-white-primary;
  background-repeat: no-repeat;
  background-position:center;
  z-index:99;
}

.modalWindow{
  width:100vw;
  height:100vh;
  position:fixed;
  background-color:$palette-clearblack-primary;
  z-index:98;
}

.mobileMenu{
  width:200px;
  height:100vh;
  margin: 0 -200px 0 0;
  position:fixed;
  right: 0;
  background-color:$palette-white-primary;
  z-index:99;
  input{
    padding: 10px;
    font-size:$font-size-7;
  }
  a{
    padding: 10px;
    color:$palette-black-primary;
    font-size:$font-size-7;
    display: block;
    &:hover{
      background-color:$palette-gray-third;
    }
  }
  .button_to{
    cursor: pointer;
    position:relative;
    input{
      width:100%;
      height:100%;
      text-align: left;
      cursor: pointer;
    }
    &:hover{
      background-color:$palette-gray-third;
    }
  }
}




