.form_field{
  @include mq-up() {
    padding:50px 25%;
  }
  @include mq-down() {
    padding:50px 5%;
  }
  width:100%;
  min-height:calc(100vh - #{$header-height} - #{$footer-height} - 100px);
  margin: 70px auto;
  background-color:$palette-clearblack-primary;
  color:$palette-white-primary;
  h2{
    font-size:$font-size-3;
    margin: 0 0 10px 0;
    text-align: center;
  }
  h3{
    font-size:$font-size-3;
    margin: 10px 0 10px 0;
    text-align: center;
  }
  a{
    @include button();
    margin:10px 0 0 0;
    display:block;
    opacity: .5;
    font-size:$font-size-7;
  }
  i{
    font-size:$font-size-7;
  }
  input[type="text"], input[type="email"],input[type="password"]{
    margin:0 0 10px 0;
    width:100%;
    height:2rem;
    padding:0 10px;
    background-color:$palette-white-secondary;
    border-radius: 3px;
  }
  .checkbox{
    &-input{
      display:none;
      &:checked + .checkbox-parts{
        color: $palette-gray-third;
      }
      &:checked + .checkbox-parts::after{
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        left: 5px;
        width: 7px;
        height: 14px;
        transform: rotate(40deg);
        border-bottom: 3px solid $palette-black-primary;
        border-right: 3px solid $palette-black-primary;
      }
    }
    &-parts{
      padding-left: 20px;
      position:relative;
      margin-right: 20px;
      &::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        background-color:$palette-white-primary;
        border-radius: 4px;
      }
    }
  }

  .fileLabel{
    @include button();
    width: 100%;
    margin: 0 0 5px 0;
    border: 2px dashed #b4bcc2;
  }
  #fileUpload{
    display:none;
  }
  .actions{
    input{
      @include button();
      width:100%;
      margin:10px 0;
    }
  }
  #img_prev{
    width:100%;
    margin:10px 0;
  }
}




