.contents
  .itemList__element.element{ data: {id: "#{@item.id}"}}
    .element__itemImage{style: "background-image: url('#{ @item.image_url.url}') "}
    .element__itemName=@item.name
    .element__itemStorage=@item.storage
    .element__itemMemo=@item.memo
    =image_tag("https://chart.apis.google.com/chart?cht=qr&chs=100x100&chl=#{url_for(only_path: false)}")
